@using UploadImageOnServer.Models
@model IEnumerable<UploadImageOnServer.Models.ImageUpload>

@{
    ViewBag.Title = "All";
}

<h2>Display All Image</h2>

<div class="col-md-12">
    <table border="2px solid red;">
        <tr>
            
            <th>ID</th>
            <th>Image Name</th>
            <th>File Type</th>
            <th>Original Image</th>

        </tr>
        @foreach (var item in @Model)
        {
        <tr>
            <td>@item.ImageUploadID</td>
            <td>@item.FileName</td>
            <td>@item.FileType</td>
            <td> @{
                     var base64 = Convert.ToBase64String(item.BinaryDataImage);
                     var imageSource = string.Format("data:image/gif;base64,{0}", base64);
                 }
            <img src='@imageSource' style="max-height: 200px; width: 300px"/>
                                
            </td>
        </tr>
        }
    </table>
</div>
